$color1: #263c6a;
$color1dark: #0d172b;
$color2: #17233a;
$color2soft: #2d3f67;
$color3: #102656;
$color4: #496296;
$color5: #004f92;

body,
html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: $color2;
    height: 15vh;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid $color4;

    p {
        align-content: flex-start;
        border: 1px solid $color4;
        flex: 1 1 auto;
        margin: auto 20px;
        text-align: center;
    }

    nav {
        width: 35px;
        height: 35px;
        background: $color2soft;
        border: 1px solid $color4;
        border-radius: 5px;
        margin: auto 25px;
        display: flex;

        img {
            fill: $color1;
            margin: 5px;
            max-height: fit-content;
            max-width: fit-content;
        }
    }
}

#div-body {
    background-color: $color1;
    display: flex;
    justify-content: center;
    padding: 40px 10px;

    div#title {
        margin-bottom: 5%;
    }

    #game-selection {
        background-color: $color2;
        width: 80%;
        padding: 5%;
        border: 2px solid $color4;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            display: flex;
            width: 90%;
            height: fit-content;
            flex-direction: column;
            align-items: center;
            padding: 3%;
            border: 1px solid $color4;


            .game-box {
                height: fit-content;
                width: 80%;
                border: 1px solid purple;
                margin: 5%;
                align-items: center;
                justify-content: center;

                img {
                    height: 100%;
                    max-width: 50%;
                }
            }
        }
    }
}

footer {
    height: 15vh;
    background-color: $color2soft;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $color4;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            border: 1px solid red;
        }
    }
}