header {
    display: flex;
    flex-direction: row;
}

#gamesbox {
    border: 1px solid black;
    width: 90%;

    .gamebox {
        border: 1px solid blue;
        display: flex;
        margin: 5%;

        .gameimg {
            width: 100px;
        }
        div {
            margin: 5%;
            width: 100%;
        }
    }
}